In [24]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
news = pd.read_csv('/Users/mackdelany/Documents/DSR Notebooks/NLP-stock-price-prediction/data/train/RedditNews_train.csv')

In [65]:
print(news.shape)

(2355, 2)

In [26]:
news.dropna(inplace=True)

In [27]:
news.shape

(2355, 2)

In [28]:
news['News'] = news['News'].apply(lambda x: x.lower())

In [29]:
news = news.groupby(['Date'])['News'].apply(lambda x: ', '.join(x)).reset_index()

In [37]:
corpus = news['News'].values

In [50]:
vectorizer = CountVectorizer(max_features=200)

In [56]:
news_vectors = vectorizer.fit_transform(corpus).toarray()

In [52]:
news.shape

(2355, 2)

In [53]:
X.toarray().shape

(2355, 200)

In [60]:
pd.DataFrame(news_vectors).shape

(2355, 200)

In [66]:
pd.concat([news.Date, pd.DataFrame(news_vectors)], axis=1)

,Date,0,1,2,3,4,5,6,7,8,...,190,191,192,193,194,195,196,197,198,199
0,2008-06-08,1,0,0,1,0,0,0,0,0,...,0,1,0,0,1,1,0,0,1,0
1,2008-06-09,0,0,1,0,1,0,1,2,0,...,0,2,1,0,1,0,0,0,0,0
2,2008-06-10,0,0,1,0,0,0,0,0,1,...,0,0,3,0,0,1,0,3,0,0
3,2008-06-11,0,0,0,0,0,1,1,0,1,...,0,2,0,0,0,2,1,1,0,0
4,2008-06-12,0,1,0,1,0,0,1,0,2,...,0,1,0,0,1,0,1,0,0,0
5,2008-06-13,0,0,0,1,0,2,0,0,0,...,0,1,3,0,0,0,0,0,1,2
6,2008-06-14,1,0,1,1,2,1,1,0,0,...,0,1,3,0,3,1,0,1,1,1
7,2008-06-15,1,0,2,3,1,0,0,1,1,...,0,1,2,1,0,3,0,0,0,1
8,2008-06-16,0,0,1,0,0,1,0,0,0,...,0,0,2,0,0,2,0,0,0,1
9,2008-06-17,1,0,0,1,0,2,0,0,0,...,0,1,2,0,0,4,0,0,0,2
10,2008-06-18,0,1,0,0,0,1,0,0,1,...,0,0,1,0,0,1,0,1,0,1
11,2008-06-19,1,1,0,1,1,2,0,0,0,...,1,0,0,0,0,2,0,0,0,0
12,2008-06-20,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,2,1,1,1,0
13,2008-06-21,0,0,0,0,0,2,0,1,0,...,0,2,3,0,1,3,0,1,0,0
14,2008-06-22,0,0,1,3,0,1,1,2,0,...,0,1,0,0,1,0,2,0,0,0
15,2008-06-23,1,0,0,0,1,0,0,1,1,...,0,3,0,0,0,1,0,2,0,1
16,2008-06-24,0,0,0,0,0,1,0,0,0,...,0,1,1,0,2,0,0,2,1,1
17,2008-06-25,0,0,1,0,0,2,0,0,0,...,0,2,2,0,1,1,1,3,1,1
18,2008-06-26,0,0,0,1,1,0,2,0,3,...,0,0,2,0,1,1,0,1,0,0
19,2008-06-27,0,2,1,0,0,1,0,2,0,...,0,1,0,0,0,1,0,1,3,0
20,2008-06-28,2,0,0,1,1,4,0,0,0,...,0,3,1,0,0,3,0,4,1,0
21,2008-06-29,2,1,0,0,0,2,0,0,0,...,0,1,0,1,0,0,0,2,0,0
22,2008-06-30,0,0,2,1,1,1,0,0,0,...,0,0,2,1,0,1,1,2,0,2
23,2008-07-01,0,0,0,0,0,0,0,2,0,...,0,1,2,0,0,2,1,0,0,0
24,2008-07-02,0,0,0,0,1,1,0,2,1,...,0,0,1,0,0,1,0,0,1,0
25,2008-07-03,0,1,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,1,2,1
26,2008-07-04,0,0,0,0,0,1,0,0,0,...,0,3,1,0,0,3,0,3,0,0
27,2008-07-05,0,0,0,0,3,0,1,0,1,...,0,2,0,1,0,2,0,0,0,1
28,2008-07-06,1,0,1,0,0,0,0,0,0,...,0,2,3,1,0,1,0,1,0,1
29,2008-07-07,0,1,0,1,1,0,0,0,0,...,0,2,1,0,0,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2325,2014-10-22,2,0,0,1,0,1,0,2,0,...,0,0,3,0,0,2,0,1,0,0
2326,2014-10-23,0,1,0,0,2,1,1,1,0,...,0,2,1,1,1,0,0,1,0,0
2327,2014-10-24,1,0,0,0,1,0,0,0,0,...,0,2,1,0,1,3,0,2,0,0
2328,2014-10-25,1,0,0,0,1,0,0,0,1,...,0,0,0,1,0,1,0,1,0,0
2329,2014-10-26,0,1,0,1,0,2,0,2,0,...,0,0,4,0,0,0,0,1,0,0
2330,2014-10-27,0,0,0,1,3,2,0,0,0,...,0,1,0,1,1,2,0,2,1,0
2331,2014-10-28,1,1,0,0,0,0,0,1,0,...,0,2,3,0,0,1,0,2,1,0
2332,2014-10-29,3,0,0,0,2,0,0,1,0,...,0,1,1,0,0,0,0,0,0,0
2333,2014-10-30,0,0,0,0,1,0,0,0,0,...,0,2,2,0,1,1,0,1,1,0
2334,2014-10-31,1,1,0,0,2,1,1,0,0,...,0,1,3,0,0,1,0,2,0,0
2335,2014-11-01,1,0,2,0,0,1,0,0,0,...,0,0,2,0,0,0,0,1,0,0
2336,2014-11-02,3,0,0,0,1,1,0,1,0,...,0,1,2,0,1,2,0,0,0,1
2337,2014-11-03,0,0,1,0,2,2,1,1,0,...,0,1,1,0,1,0,1,1,1,0
2338,2014-11-04,0,0,0,0,1,0,0,0,0,...,0,4,1,0,1,3,0,0,1,1
2339,2014-11-05,1,0,0,0,0,1,0,0,0,...,0,2,1,0,1,2,0,0,0,0
2340,2014-11-06,1,0,0,0,3,0,0,1,0,...,0,1,2,0,0,1,0,1,0,0
2341,2014-11-07,1,1,0,0,1,2,0,0,0,...,0,1,2,0,3,0,0,0,0,0
2342,2014-11-08,0,1,0,0,3,3,0,0,0,...,0,2,2,0,1,3,3,1,1,0
2343,2014-11-09,1,0,1,0,2,0,0,1,1,...,0,0,2,0,1,0,0,2,0,0
2344,2014-11-10,1,1,1,0,2,1,0,0,0,...,0,3,1,0,0,0,0,1,1,0
2345,2014-11-11,0,0,1,0,3,0,0,0,0,...,0,0,2,1,0,2,1,1,0,0
2346,2014-11-12,1,0,1,0,3,0,0,0,0,...,0,2,4,0,1,0,0,0,3,0
2347,2014-11-13,0,0,0,1,2,1,0,0,0,...,0,1,3,0,0,4,0,1,0,0
2348,2014-11-14,1,0,0,0,2,0,0,0,0,...,0,1,2,0,0,0,0,3,0,0
2349,2014-11-15,0,0,0,0,1,2,0,1,0,...,0,1,3,0,0,2,0,1,0,0
2350,2014-11-16,3,0,0,0,2,4,0,0,0,...,0,0,3,0,0,0,0,0,1,0
2351,2014-11-17,0,0,0,0,1,0,0,0,0,...,0,1,3,0,0,2,0,1,1,0
2352,2014-11-18,2,0,0,0,2,2,1,0,0,...,0,0,5,0,1,2,1,0,0,0
2353,2014-11-19,0,0,0,0,1,1,0,0,2,...,0,1,0,1,0,0,0,0,0,0
2354,2014-11-20,1,2,0,0,0,1,1,0,0,...,0,0,3,1,0,1,0,0,2,0